<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめのサングラスの形は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "1" %>
    <h6>スクエアタイプ</h6>
    <p>「スクエアタイプ」
    長方形に近い形が特徴的なスクエアタイプのフレームは、丸顔の方と相性抜群。直線的でフレームの四隅が角張っているため、曲線的なラインが多い丸顔の人によく似合います。曲線的な顔のラインに、角張ったフレームが入ることでシャープな印象に見えるでしょう。特にスクエアタイプは縦幅が短めなのも丸顔と相性がよい理由です。やや太めのフレームを選ぶとより輪郭が引き締まります。
    スクエアタイプは、もともと顔タイプに関わらずクールで知的なイメージを演出するのに役立つフレームタイプです。大人っぽい印象を与えるため、童顔な人にもおすすめします。</p>
    

    <% elsif @perfume.question == "2" %>
    <h6>ウェリントン</h6>
    <p>「ウェリントン」
    ウェリントンはフレームの中でももっともベーシックなタイプ。いわゆる逆台形の形をしています。かけるだけで知的かつスマートな印象を与えてくれるでしょう。エッジは少し丸みがあるため、堅苦しいイメージになりすぎないのも魅力です。
    ウェリントンは他のフレームタイプに比べて、レンズの縦幅が広いことが特徴。面長の人がかけた場合、顔に対してサングラスの縦幅の比率が高くなるため面長の輪郭が目立ちにくくなります。存在感のある大きなフレームなので、輪郭よりサングラスのほうが印象深くなるはずです。比較的どのような世代や顔型の人でも似合いやすく日常使いしやすいため、最初の1本として持っておくと重宝するでしょう。</p>
    
    <% elsif @perfume.question == "3" %>
    <h6>ボストン、オーバル</h6>
    <p>「ボストン」
    ボストンタイプのフレームは、角を丸くした逆三角形をしているのが特徴です。丸みを帯びているため、顔の印象を和らげ知的で落ち着いた雰囲気に演出してくれるでしょう</p>
    
    <% elsif @perfume.question == "4" %>
    <h6>ラウンド</h6>
    <p>「ラウンド」
    名前のとおりまん丸のレンズを、2つつなぐようにブリッジが中央についている形が特徴的なラウンドタイプ。古くからある形ですが、最近人気が急上昇しています。
個性的且つおしゃれな印象で、ファッションアイテムとして身につける方も多い形です。大きめレンズのものも多く、小顔効果も狙えます。
    </p>
    

    
    <% end %>

</div>
